/* .body {
  align-items: center;
  justify-content: center;
  align-self: center;
  align-content: center;
  background-color: red;
}

.tab-pane{
  background-color: white;
}
.divMiddle {
  width: 100%;
  height: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  display: inline-flex;
  
}

.form-group .errorMsg {
  padding-left: 10px;
  color: red;
  font-size: 13px;
}

.rotate {
  animation: rotation 8s infinite linear;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

body{
  background-color: #48aaad;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

h2{
    font-family: 'Oswald', cursive;
} */


html body{
  background-image: url('./Images/img_1.jpg');
  /* background-repeat: repeat-y; */
  background-size: cover;
  background-position:"center center";
  width: auto;
  height: auto;
  /* background-color: powderblue; */

}