.table{
    background-color: #00d4d8;
}

/* .card-body{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0; 
} */
/* .col-11 col-md-6 col-lg-3 mx-0 mb-4{
    flex-basis: 18%;
    margin: 2%;
    height: 320px;
    min-width: 200px;
    padding: 0;
    position: relative;
    border: 1px solid lightgray;
    box-shadow: 10px 10px 10px 10px lightgray;
}
 */
