/* .card{
  
    flex-basis: 18%;
    margin: 2%;
    height: 320px;
    min-width: 200px;
    padding: 0;
    position: relative;
    border: 1px solid black;
    box-shadow: 10px 10px 10px 10px rgb(177,87,137);  
} */

/* .click:hover {
    transform: scale(2);
    transition-duration: 0.5s;
} */